[data-theme='light'] {
    /*主色*/
    --primary-color: 0, 126, 252;
    /*主字体颜色*/
    --primary-text-color: #000;
    /*次要的字体颜色*/
    --minor-text-color: #6b7280;
    /*导航背景色*/
    --nav-bg: #fff;
    /*主容器背景*/
    --main-container-bg: #f9fafb;
    /*分割线颜色*/
    --divider-bg: #F3F4F6;
}
